//
//  Debug.xcconfig
//  Melody
//
//  Created by Ezenwa Okoro on 24/06/2020.
//  Copyright © 2020 Ezenwa Okoro. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

APP_NAME = $(inherited) ⍺
MODE_BUNDLE_ID = $(DEBUG_BUNDLE_ID_BASE).dev
MODE_WIDGET_BUNDLE_ID = $(MODE_BUNDLE_ID).Widget
