<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Mode</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Dark App Icon Medium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark App Icon Medium</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Dark App Icon Thin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark App Icon Thin</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Dark App Icon Wide</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark App Icon Wide</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Light App Icon Medium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light App Icon Medium</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Light App Icon Wide</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Light App Icon Wide</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.okoroezenwa.modeplayer.dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>modeapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>12043</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Mode would like to display and play your music library.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Mode needs to save artwork to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Mode needs to save artwork to your photo library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>MyriadPro-Semibold.otf</string>
		<string>MyriadPro-Regular.otf</string>
		<string>MyriadPro-It.otf</string>
		<string>MyriadPro-Light.otf</string>
		<string>MyriadPro-Bold.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>SearchBold</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).SearchLibrary</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ShuffleBold</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Shuffle Albums</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).ShuffleAllAlbums</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ShuffleBold</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Shuffle Songs</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).ShuffleAllSongs</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>PlayFilled</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Play All</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).PlayAllSongs</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
