<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MarqueeLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Melody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ModeWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE0CE5961ED8473E00D8DF6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0F5C201D2D663F00C9E8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0F5C361D2D663F00C9E8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0F5C411D2D663F00C9E8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE4AA87C1F29161900F52E84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
